@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline-Black.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline-Bold.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft-Black.woff2') format('woff2'),
        url('MADETommy/MADETommySoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline-Light.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline-Medium.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft-Bold.woff2') format('woff2'),
        url('MADETommy/MADETommySoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft-ExtraBold.woff2') format('woff2'),
        url('MADETommy/MADETommySoft-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline-ExtraBold.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft-Light.woff2') format('woff2'),
        url('MADETommy/MADETommySoft-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft.woff2') format('woff2'),
        url('MADETommy/MADETommySoft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft-Thin.woff2') format('woff2'),
        url('MADETommy/MADETommySoft-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('MADETommy/MADETommySoft-Medium.woff2') format('woff2'),
        url('MADETommy/MADETommySoft-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Tommy Soft Outline';
    src: url('MADETommy/MADETommySoftOutline-Thin.woff2') format('woff2'),
        url('MADETommy/MADETommySoftOutline-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

