* {
    box-sizing: border-box;
}

:root {
    --primary-color-1: #6839cc;
    --primary-color-2: #ff782c;
}

::selection {
    background-color: var(--primary-color-2);
    color: white;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "MADE Tommy Soft", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.display-area {
    width: 1520px;
    max-width: calc(100% - 230px);
    margin-left: auto;
    margin-right: auto;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--primary-color-2);
}
