* {
    box-sizing: border-box;
}

:root {
    --primary-color-1: #6839cc;
    --primary-color-2: #ff782c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "MADE Tommy Soft", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.display-area {
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    padding: 0 30px;
    line-height: 52px;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    border-radius: 999px;
    background-color: var(--primary-color-1);
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 15px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
}

.btn:hover .chevron {
    color: #fff;
    background-color: var(--primary-color-2);
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--primary-color-2);
}

.product {
    width: calc(16.67% - 27px);
}

.product__thumb {
    position: relative;
    top: 0;
    left: 0;
}

.product__img {
    width: 100%;
    border: 1px dashed #ccc;
    border-radius: 5px;
}

.product__wishlist,
.product__compare,
.product__quick-view {
    position: absolute;
    left: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.product__wishlist {
    top: 15px;
}

.product__compare {
    top: 62px;
}

.product__quick-view {
    top: 109px;
}

.product__add-to-cart {
    position: absolute;
    top: 145px;
    left: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 11px 5px;
    width: 157px;
    font-size: 1.4rem;
    line-height: 0;
    color: #fff;
    border: none;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.product:hover .product__wishlist,
.product:hover .product__compare,
.product:hover .product__quick-view,
.product:hover .product__add-to-cart {
    opacity: 1;
    transform: translateX(0);
}

.product:hover .product__img {
    border: 1px dashed var(--primary-color-2);
}

.product__wishlist:hover,
.product__compare:hover,
.product__quick-view:hover,
.product__add-to-cart:hover {
    color: #fff;
    background-color: var(--primary-color-2);
}

.product__caption {
    padding: 16px 0 0;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #666;
}

.product__price {
    font-weight: 700;
    color: var(--primary-color-1);
}

.product__rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product__review {
    font-size: 1.4rem;
    color: #ccc;
}

/* Header */

.header {
    width: 100%;
    height: 750px;
    background-image: url("../images/rev-home.jpg");
    background-repeat: no-repeat;
    background-size: 133%;
    background-position: center -50px;
}

/* Header Head */

.header__head {
    display: flex;
    align-items: center;
    padding: 30px;
    line-height: 24px;
}

.header__navbar {
    margin-left: 48px;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
    padding: 20px 25px;
    text-wrap: nowrap;
    transition: all 0.3s;
}

.navbar--active .navbar__link,
.navbar__link:hover {
    color: var(--primary-color-2);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 7px;
}

.header__search {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 85px;
}

#search__form {
    width: 546px;
    height: 47px;
    padding: 0 20px;
    word-spacing: 3px;
    letter-spacing: 0.8px;
    font-weight: 500;
    border: none;
    border-radius: 999px;
    border-color: #f5f5f5;
    background: #f5f5f5;
}

#search__form:focus {
    border: 1px solid var(--primary-color-1);
    outline: none;
}

.search__button {
    position: absolute;
    left: 506px;
    top: 7.5px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color-1);
}

.search__button:hover {
    background-color: var(--primary-color-2);
}

.header__action {
    display: flex;
    align-items: center;
    margin-left: 33px;
    gap: 24px;
}

.action__icon {
    display: flex;
    align-items: center;
    color: #000;
}

.action__wishlist,
.action__cart {
    position: relative;
    top: 0;
    left: 0;
}

.wishlist__count,
.cart__count {
    position: absolute;
    top: -9px;
    left: 12px;
}

.action__account:hover .action__icon,
.action__wishlist:hover .action__icon,
.action__cart:hover .action__icon {
    color: var(--primary-color-2);
}

.action__money {
    margin-left: 10px;
    font-weight: 500;
}

/* Header Body */

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.header__chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.header__chevron:hover {
    color: #fff;
    background-color: var(--primary-color-1);
}

.header__content {
    width: 88.4%;
    text-align: start;
}

.header__title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--primary-color-2);
}

.header__heading {
    margin-top: 11px;
    width: 40%;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.2;
}

.header__desc {
    margin-top: 15px;
    width: 35%;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4;
}

.header__btn {
    margin-top: 51px;
}

/* Features */

.features {
    margin-top: 61px;
}

.features__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 95.9%;
    padding: 30px 35px 25px 35px;
    border: 1px dashed #ccc;
    border-radius: 4px;
}

.features__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    border-right: 1px dashed #ccc;
}

.features__item:last-child {
    padding-right: 0;
    border: none;
}

.features__desc {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
}

/* Categories */

.categories {
    margin-top: 70px;
}

.categories__row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.categories__heading {
    position: relative;
    right: 0;
    top: 0;
    z-index: 0;
    font-size: 3.2rem;
    font-weight: 700;
}

.categories__icon {
    position: absolute;
    top: -14px;
    right: -27px;
    z-index: -1;
    width: 45px;
    height: 30px;
}

.categories__action {
    display: flex;
    align-items: center;
}

.categories__chevron {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
}

.categories__chevron:hover {
    color: #fff;
    border: none;
    background-color: var(--primary-color-2);
}

.categories__row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
    padding-top: 20px;
    overflow: hidden;
}

.categories__item {
    color: #000;
}

.categories__item:hover {
    color: var(--primary-color-2);
}

.categories__item:hover .categories__img {
    border: 1px dashed var(--primary-color-2);
}

.categories__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px #ccc;
}

.categories__title {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

/* Offers */

.offers {
    margin-top: 100px;
}

.offers__heading {
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    margin-left: 30px;
    font-size: 3.2rem;
    font-weight: 700;
}

.offers__icon {
    position: absolute;
    top: -18px;
    left: 194px;
    z-index: -1;
    width: 45px;
    height: 30px;
}

.offers__list {
    display: flex;
    gap: 30px;
    margin-top: 35px;
    margin-left: 30px;
}

.offers__item {
    width: calc(25% - 30px);
    height: 260px;
    color: #fff;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;
}

.offers__item:hover {
    transform: scale(1.02);
}

.offers__title {
    margin-left: 40px;
    font-size: 1.4rem;
    font-weight: 500;
}

.offers__sale {
    margin-left: 40px;
    font-size: 6.4rem;
    font-weight: 700;
}

.offers__desc {
    margin-left: 40px;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6;
}

.offers__sub-desc {
    margin-left: 40px;
    font-size: 1.4rem;
    font-weight: 700;
}

.offers__btn {
    margin-left: 40px;
    padding: 0 0;
    width: 130px;
    font-size: 1.4rem;
    line-height: 38px;
}

.offers__item-1 {
    background-image: url("../images/offers-1.jpg");
}

.offers__item-1 .offers__title,
.offers__item-2 .offers__desc,
.offers__item-3 .offers__title,
.offers__item-4 .offers__sale {
    margin-top: 43px;
}

.offers__item-1 .offers__btn {
    margin-top: 10px;
}

.offers__item-2 {
    background-image: url("../images/offers-2.jpg");
}

.offers__item-2 span {
    font-size: 1.4rem;
    text-decoration: underline;
    font-weight: 300;
}

.offers__item-2 .offers__title,
.offers__item-4 .offers__title {
    line-height: 1.4;
    font-size: 2rem;
}

.offers__item-2 .offers__sub-desc {
    margin-top: 45px;
}

.offers__item-3 {
    background-image: url("../images/offers-3.jpg");
}

.offers__item-3 .offers__btn {
    margin-top: 60px;
}

.offers__item-4 {
    background-image: url("../images/offers-4.jpg");
}

.offers__item-4 .offers__sub-desc {
    margin-top: 30px;
}

.offers__item-4 span {
    font-weight: 300;
}

/* Trending */

.trending {
    margin-top: 100px;
}

.trending__content {
    margin-left: 30px;
    margin-right: 30px;
}

.trending__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending__heading {
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    font-size: 3.2rem;
    font-weight: 700;
}

.trending__icon {
    position: absolute;
    top: -18px;
    left: 280px;
    z-index: -1;
    width: 45px;
    height: 30px;
}

.trending__btn {
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    background-color: #fff;
    color: #666;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all 0.3s;
}

.trending--active,
.trending__btn:hover {
    border-radius: 999px;
    color: #fff;
    background-color: var(--primary-color-1);
}

.trending__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 35px;
}
